.ApproveButton{
    background-color: lightgreen;
    
    }
    .DeclineButton{
        background-color: Red;
    }
    .info{
    font-size: 10%;
    font-weight: bold;
    }
    .title{
        padding-left:10px;
        padding-top:10px;
    
    }
    .items{
        padding-left: 20px;
    }
    